

.page-header {
  border: 0;
}

.w3-button:hover {
  color: #fff !important;
  background-color: rgb(80, 80, 80) !important;
  text-decoration: none;
}

.w3-large {
  font-size: 23px !important;
}

.loading {
  float: right;
  width: 40px;
  height: 40px;
  margin-top: 3%;
}

.row {
  margin-top: 5%;
  width: 100vw;
  display: contents;
  height: 30px;
}

.row p{
  margin-top: 5%;
  height: 30px;
  margin: 0;
  width: 100%;
  margin-bottom: 2%;
  text-align: center;
  color: gray;
}

app-search-bar {
  margin-top: 15px;
  width: 100vw
}


.container {
    max-width: 100vw;
    background-color: black;
}