.input-group input-group-lg col-sm-8 col-md-8 {
  padding-left: 15%;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);

}

.form-control {
  width: 75%;
  background-color: black;
  color: white;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 90%;
    margin: 30px auto;
  }
}

.btn-dark {
  margin-right: 10px;
  color: white;
}

.btn {
  width: 200px;
  font-size: 13px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 10px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: 5%;
  width: 100%;
}
