<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <h5 class="text-white h4">YouTube Search API Assignment</h5>
        <span class="text-muted">Page is cached for offline view</span>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <a href="/"><img class="logo" src="../assets/youtube.png" alt="logo"></a>
      </button>
    </nav>
  </div>

<router-outlet></router-outlet>

<div class="footer">
  <p><strong class="footer-company">YouTube</strong> API Assignment  Build #2  <strong class="footer-name" data-toggle="modal" data-target="#myModal" title="Check Profile" >About Me</strong></p>
</div>


  <!-- Contact  Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="col-md-4">
          <div class="card profile-card-1">
            <img
              src="https://images.pexels.com/photos/946351/pexels-photo-946351.jpeg?w=500&h=650&auto=compress&cs=tinysrgb"
              class="background" />
            <img src="../../assets/images/avatar.jpg" class="profile" alt="Background Image"/>
            <div class="card-content">
              <h2>Daniel Mark <small>Full Stack Web Developer</small></h2>
              <div class="icon-block">
                <a href="https://www.facebook.com/danielmarkjohn"><i class="fa fa-facebook"></i></a>
                <a href="https://www.linkedin.com/in/danielmarkj/"> <i class="fa fa-linkedin"></i></a>
                <a href="https://github.com/danielmarkcode"> <i class="fa fa-github"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    
 