.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  position: fixed;
  z-index: 99;
  clear: both;
  background-color: #10101040;
  color: white;
  text-align: center;
  height: 20px;
}
.footer p {
  margin: 0;
  padding-right: 1%;
  margin: auto;
  font-family: "Segoe UI Webfont",-apple-system,"Helvetica Neue","Lucida Grande","Roboto","Ebrima","Nirmala UI","Gadugi","Segoe Xbox Symbol","Segoe UI Symbol","Meiryo UI","Khmer UI","Tunga","Lao UI","Raavi","Iskoola Pota","Latha","Leelawadee","Microsoft YaHei UI","Microsoft JhengHei UI","Malgun Gothic","Estrangelo Edessa","Microsoft Himalaya","Microsoft New Tai Lue","Microsoft PhagsPa","Microsoft Tai Le","Microsoft Yi Baiti","Mongolian Baiti","MV Boli","Myanmar Text","Cambria Math";
  font-size: 12px;  padding-top: 2px;

}

.footer-name:hover {
  color: rgb(42, 151, 253);
  cursor: pointer;
}

.footer-company {
  color: red;
}

a{
  border: none;
  cursor: pointer;
}
.logo {
  width: 100px;
  cursor: pointer;
}

.bg-dark {
  padding-left: 0;
}
.navbar-dark .navbar-toggler {
  color: rgba(255,255,255,.5);
  border-color: rgba(132, 88, 88, 0);
  width: 100%;
  padding-left: 0;
  height: auto;
}

.navbar-dark .navbar-toggler-icon {
  float: left;
  margin-left: 10px;
}

.navbar-toggler:focus, .navbar-toggler:hover {
  text-decoration: none;
  outline: none;
}

.profile-card-1 {
  font-family: 'Open Sans', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  color: #ffffff;
  text-align: center;
  height: 368px;
  border: none;
  width: 300px;
}

.profile-card-1 .background {
  width: 100%;
  vertical-align: top;
  opacity: 0.9;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  -webkit-transform: scale(1.8);
  transform: scale(2.8);
}

.profile-card-1 .card-content {
  width: 100%;
  padding: 15px 25px;
  position: absolute;
  left: 0;
  top: 50%;
}

.profile-card-1 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  max-width: 100px;
  opacity: 1;
  height: auto;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

.profile-card-1 h2 {
  margin: 0 0 5px;
  font-weight: 600;
  font-size: 25px;
}

.profile-card-1 h2 small {
  display: block;
  font-size: 15px;
  margin-top: 10px;
}

.profile-card-1 i {
  display: inline-block;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  border: 1px solid #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  margin: 0 5px;
}

.profile-card-1 .icon-block {
  float: left;
  width: 100%;
  margin-top: 15px;
}

.profile-card-1 .icon-block a {
  text-decoration: none;
}

.profile-card-1 i:hover {
  background-color: #fff;
  color: #2E3434;
  text-decoration: none;
  border-radius: 50%;
}

.modal-content {
  background-color: #ffffff00;
  width: 300px;
  height: 290px;
  margin: auto;
  border: none;
  box-shadow: none;
}

.modal-content {
  margin-top: 5%;
}